:root {
  --colorBlack: #1c1c1c;
  --colorLight: #f5f5f5;
  --colorWhite: #ffffff;
  --colorGreen: #0e8502;
  --colorRed: #ff0000;
  --colorYellow: #ff9900;
  --colorAsh: #c9c9c9;
}

* {
  margin: 0;
  padding: 0;
}

.shoping-cart {
  padding-top: 80px;
  padding-bottom: 80px;
}

.shoping__cart__table {
  margin-bottom: 30px;
}

.shoping__cart__table table {
  width: 100%;
  text-align: center;
}

.shoping__cart__table table thead tr {
  border-bottom: 1px solid #ebebeb;
}

.shoping__cart__table table thead th {
  font-size: 20px;
  font-weight: 700;
  color: #1c1c1c;
  padding-bottom: 20px;
}

.shoping__cart__table table thead th.shoping__product {
  text-align: left;
}

.shoping__cart__table table tbody tr td {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ebebeb;
}

.shoping__cart__table table tbody tr td.shoping__cart__item {
  width: 630px;
  text-align: left;
}

.shoping__cart__table table tbody tr td.shoping__cart__item img {
  display: inline-block;
  margin-right: 25px;
}

.shoping__cart__table table tbody tr td.shoping__cart__item h5 {
  color: #1c1c1c;
  display: inline-block;
}

.shoping__cart__table table tbody tr td.shoping__cart__price {
  font-size: 18px;
  color: #1c1c1c;
  font-weight: 700;
  width: 100px;
}

.shoping__cart__table table tbody tr td.shoping__cart__total {
  font-size: 18px;
  color: #1c1c1c;
  font-weight: 700;
  width: 110px;
}

.shoping__cart__table table tbody tr td.shoping__cart__item__close {
  text-align: right;
}

.shoping__cart__table table tbody tr td.shoping__cart__item__close span {
  font-size: 24px;
  color: #b2b2b2;
  cursor: pointer;
}

.shoping__cart__table table tbody tr td.shoping__cart__quantity {
  width: 225px;
}

.shoping__cart__table table tbody tr td.shoping__cart__quantity .pro-qty {
  width: 120px;
  height: 40px;
}

.shoping__cart__table table tbody tr td.shoping__cart__quantity .pro-qty input {
  color: #1c1c1c;
}

.shoping__cart__table
  table
  tbody
  tr
  td.shoping__cart__quantity
  .pro-qty
  input::placeholder {
  color: #1c1c1c;
}

.shoping__cart__table
  table
  tbody
  tr
  td.shoping__cart__quantity
  .pro-qty
  .qtybtn {
  width: 15px;
}

.primary-btn.cart-btn {
  background-color: var(--colorAsh);
  color: var(--colorBlack);
  padding: 14px 30px 12px;
  border: none;
}
.primary-btn.cart-btn:hover {
  background-color: var(--colorBlack);
  color: var(--colorLight);
}

.primary-btn.cart-btn span {
  font-size: 14px;
}

.primary-btn.cart-btn.cart-btn-right {
  float: right;
  color: var(--colorLight);
  background-color: var(--colorRed);
  outline: none;
}

.shoping__discount {
  margin-top: 45px;
}

.shoping__discount h5 {
  font-size: 20px;
  color: #1c1c1c;
  font-weight: 700;
  margin-bottom: 25px;
}

.shoping__discount form input {
  width: 255px;
  height: 46px;
  border: 1px solid #cccccc;
  font-size: 16px;
  color: #b2b2b2;
  text-align: center;
  display: inline-block;
  margin-right: 15px;
}

.shoping__discount form input::placeholder {
  color: #b2b2b2;
}

.shoping__discount form button {
  padding: 15px 30px 11px;
  font-size: 12px;
  letter-spacing: 4px;
  background: #6f6f6f;
}

.shoping__checkout {
  background: #f5f5f5;
  padding: 30px;
  padding-top: 20px;
  margin-top: 50px;
}

.shoping__checkout h5 {
  color: #1c1c1c;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 28px;
}

.shoping__checkout ul {
  margin-bottom: 28px;
}

.shoping__checkout ul li {
  font-size: 16px;
  color: #1c1c1c;
  font-weight: 700;
  list-style: none;
  overflow: hidden;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 13px;
  margin-bottom: 18px;
}

.shoping__checkout ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}

.shoping__checkout ul li span {
  font-size: 18px;
  color: #dd2222;
  float: right;
}

.shoping__checkout .primary-btn {
  display: block;
  text-align: center;
}

.pro-qty {
  width: 140px;
  height: 50px;
  display: inline-block;
  position: relative;
  text-align: center;
  background: #f5f5f5;
  margin-bottom: 5px;
}

.pro-qty input {
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: #6f6f6f;
  width: 50px;
  border: none;
  background: #f5f5f5;
  text-align: center;
}

.pro-qty .qtybtn {
  width: 35px;
  font-size: 16px;
  color: #6f6f6f;
  cursor: pointer;
  display: inline-block;
}

.site-btn {
  font-size: 10px;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  padding: 0 10px;
  background: #7fad39;
  border: none;
}
.proceed-btn {
  width: 100%;
  padding: 15px;
  background-color: var(--colorGreen);
  color: var(--colorWhite);
  border: none;
}
