:root {
  --colorBlack: #1c1c1c;
  --colorLight: #f5f5f5;
  --colorWhite: #ffffff;
  --colorGreen: #0e8502;
  --colorRed: #ff0000;
  --colorYellow: #ff9900;
  --colorAsh: #c9c9c9;
}

* {
  margin: 0;
  padding: 0;
}