@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Fredoka+One&display=swap");
/*colors */
:root {
  --colorBlack: #1c1c1c;
  --colorLight: #f5f5f5;
  --colorWhite: #ffffff;
  --colorGreen: #0e8502;
  --colorRed: #ff0000;
  --colorYellow: #ff9900;
  --colorAsh: #c9c9c9;
}

* {
  margin: 0;
  padding: 0;
}
.container-fluid {
  background-color: #f0f0f0;
}

.index-viewed {
  padding-top: 11%;
}
.PriceListStyle span .fa-sort-up {
  color: var(--colorGreen);
  text-align: left;
}
.PriceListStyle span .fa-sort-down {
  color: var(--colorRed);
}
.PriceListStyle .equals {
  color: var(--colorYellow);
}

.ItemCarousel {
  text-align: center;
}

#btn {
  margin: auto;
  margin-left: 35%;
  margin-top: 25%;
  background-color: #111111;
  border: none;
  border-radius: 10px;
  padding: 15px;
  outline: none;
}

.border {
  border: solid #fff 1px;
  color: #fff;
  width: 150px;
  padding: 30px;
}

#btn:hover {
  background-color: #ac0202;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#textSubmit {
  background-color: #af0101;
  border: none;
  padding: 20px;
  font-size: 20px;
}

.hidden {
  display: none;
}

.carousel-item {
  height: 300px;
  margin-top: 10px;
  object-fit: contain;
  object-position: top center;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #008600;
}
.carousel-indicators {
  bottom: -5px;
}
.Atata-services {
  width: 90%;
  margin-top: auto;
}
.index-TopProducts {
  width: 100%;
  height: 20%;
}

.carousel-control-prev {
  left: 0;
  width: 5%;
}
.carousel-control-next {
  right: 0;
  width: 5%;
}
.ItemCarousel {
  width: 90%;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.main {
  width: 100%;
  margin: auto;
  background-image: url("../bgImg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
  -webkit-box-shadow: -5px 5px 10px #00000034;
  box-shadow: -5px 5px 10px #00000034;
}

.main .logo {
  margin: auto;
}

.main .logo img {
  width: 18%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Navigator {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #008600;
}

.Navigator ul {
  list-style-type: none;
  text-align: center;
  margin: 12% auto;
  width: 100%;
}

.Navigator ul li {
  display: inline;
  padding: 15px;
  font-size: 50px;
  cursor: pointer;
}

.Navigator a:hover {
  color: #ff0909;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

hr {
  margin: auto;
  width: 50%;
  color: #535353;
}

.socialLinks {
  font-size: 20px;
  width: 50%;
  margin: auto;
  margin-bottom: 40px;
}

.socialLinks .fa-facebook-square {
  color: #3b5998;
  padding: 20px;
}

.socialLinks .fa-twitter-square {
  color: #00acee;
  padding: 20px;
}

.socialLinks .fa-linkedin {
  color: #0e76a8;
  padding: 20px;
}

.socialLinks .fa-instagram {
  color: #dd2a7b;
  padding: 20px;
}

.socialLinks .fa-facebook-square:hover,
.socialLinks .fa-twitter-square:hover,
.socialLinks .fa-linkedin:hover,
.socialLinks .fa-instagram:hover {
  color: #008600;
}

form {
  padding: 35px;
  -ms-flex-line-pack: center;
  align-content: center;
}

.formgroup {
  font-family: "Baloo Da 2", cursive;
}

.signin,
.userReg {
  width: 70%;
  margin: auto;
  margin-top: 7rem;
  margin-bottom: 50px;
  padding: 30px;
  background-image: url("../bgImg.png");
  font-family: "Baloo Da 2", cursive;
  -webkit-box-shadow: -5px 5px 10px #00000034;
  box-shadow: -5px 5px 10px #00000034;
}

.registerMain {
  width: 70%;
  margin: auto;
  margin-top: 7rem;
  margin-bottom: 50px;
  padding: 20px;
  font-family: "Baloo Da 2", cursive;
}
.signH,
.regH {
  color: #3f3e3e;
  font-size: 30px;
  margin: auto;
  padding: 10px;
  width: 70%;
  text-align: center;
}

.signin .formgroup,
.userReg .formgroup {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.signin input,
.userReg input {
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
}

.userReg select {
  width: 97%;
  padding: 15px;
  border: none;
  outline: none;
}

.signin input:hover,
.userReg input:hover,
.userReg select:hover {
  -webkit-box-shadow: 4px 6px 5px #46464636;
  box-shadow: 4px 6px 5px #46464636;
}

.signinbtnG {
  width: 100%;
  padding: 15px;
  outline: none;
  border: none;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#75af75),
    to(#008600)
  );
  background: linear-gradient(to right, #75af75, #008600);
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
}

.signinbtnR {
  width: 98%;
  padding: 15px;
  outline: none;
  border: none;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#971d1d),
    to(#ff0909)
  );
  background: linear-gradient(to right, #971d1d, #ff0909);
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
}

.signinbtnG:hover,
.signinbtnR:hover {
  -webkit-box-shadow: 4px 6px 5px #59cf59af;
  box-shadow: 4px 6px 5px #59cf59af;
  -webkit-transition: o 0.5s;
  transition: o 0.5s;
}

.forgotPass {
  background-color: #fff;
  color: #ff0909;
  text-align: center;
  width: 53px;
  margin-left: -65px;
  margin-top: 10px;
  font-size: 13px;
}

.register {
  color: #3f3e3e;
  margin-top: -5%;
  text-align: center;
}

.register span {
  color: #ff0909;
}

.user:hover {
  background-color: #ff0909;
  text-decoration: none;
  border: none;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.company:hover {
  background-color: #008600;
  text-decoration: none;
  border: none;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.seller:hover {
  background-color: #ffbd09;
  text-decoration: none;
  border: none;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.warehouse:hover {
  background-color: #ff0998;
  text-decoration: none;
  border: none;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  color: #008600;
  text-decoration: none;
}
.arrows {
  position: absolute;
  font-size: 25px;
  margin-top: 10rem;
  color: #adadad;
}
.arrows-left {
  margin-left: -5%;
}
.arrows-right {
  margin-left: 94%;
}
.specialicon {
  background-color: #aaaaaa;
  text-align: center;
  position: absolute;
  border-radius: 100%;
  margin-top: -13px;
}
.specialicon .fa-money-bill-wave {
  background-color: #8d099e;
  border-radius: 100%;
  padding: 20px;
}
.specialicon .fa-house-damage {
  background-color: #129fd6;
  border-radius: 100%;
  padding: 20px;
}
.specialicon .fa-wallet {
  background-color: #067c69;
  border-radius: 100%;
  padding: 20px;
}
.specialicon .fa-warehouse {
  background-color: #ebae08;
  border-radius: 100%;
  padding: 20px;
}
.specialicon .fa-shipping-fast {
  background-color: #d61274;
  border-radius: 100%;
  padding: 20px;
}
.specialicon .fa-briefcase {
  background-color: #2612d6;
  border-radius: 100%;
  padding: 20px;
}
.specialicon i {
  font-size: 30px;
  color: #fff;
}
.special .title {
  font-size: 20px;
  margin-left: auto;
  font-weight: bold;
  color: #000000;
}
.Adscategory {
  background-color: var(--colorLight);
  padding: 20px;
}
.Adscategory p {
  font-size: 30px;
  font-family: "Bebas Neue", cursive;
  color: var(--colorBlack);
}
.Adscategory hr {
  border: 10px solid var(--color);
  position: absolute;
  margin-top: -60px;
  margin-left: 150px;
  width: 80%;
}
.converter {
  width: 100%;
  height: 100%;
  margin: auto;
  background-blend-mode: multiply;
  background-color: #00000075;
  background-image: url("/public/Image/currencyBg.png");
  background-position: top center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  padding: 5%;
}
.converter p {
  font-size: 20px;
}
.converter .inputs {
  margin: auto;
  padding: 0 5%;
  width: 100%;
}
.converter li {
  list-style-type: none;
  margin: auto 55px;
}
.converter .Amount {
  font-weight: bold;
  font-size: 50px;
}
.converter input {
  width: 40%;
  margin-right: 27px;
}
.converter select {
  padding: 10px;
  background-color: #2612d6;
  border: none;
  color: #fff;
  margin-right: 24px;
}
.converter select:hover {
  padding: 10px;
  background-color: #2612d6;
  color: #000;
}
.featuredCat {
  width: 30%;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}
.featuredCat img {
  width: 25%;
  margin: auto;
  border: solid 1px #000;
  border-radius: 5px;
}

.slider {
  margin: 7px 0;
  background-color: var(--colorLight);
}
.homeRFQ {
  background-color: #fff;
  border: 15px solid #dddddd;
  padding: 20px;
  text-align: center;
}
.homeRFQ input {
  width: 100%;
  padding: 10px;
  margin: 5px;
}
.homeRFQ button {
  margin: auto 5px;
}
.FixedSocialLinks {
  position: fixed;
  top: 50%;
  right: 0;
}
.menuList {
  list-style-type: none;
}
.menuList i {
  position: absolute;
  right: 10px;
}
.products {
  background-color: #fff;
  width: 100%;
  margin: auto;
  margin-bottom: 2%;
}
.DiscounMOq {
  width: 100%;
  margin: auto;
}

.Recommendation {
  background-color: #fff;
}
.links {
  margin-bottom: 2%;
}
.links li {
  display: inline;
}
.display-item {
  margin-top: 12%;
}
.display-item .item-title {
  font-size: 25px;
}
.display-item .item-description {
  font-size: 20px;
}
.nav-link {
  padding: 20px;
}
.top-div-container {
  margin-top: 11rem;
  height: 456px;
  background-color: blue;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 1120px) {
  .carousel-indicators {
    bottom: 20%;
  }
  .carousel-indicators li {
    background-color: #fff;
  }
  .carousel-control-prev {
    display: none;
  }
  .carousel-control-next {
    display: none;
  }
  .commodity {
    display: none;
  }
  /* .slider {
    background-color: transparent;
    margin: 0;
  } */
  /* .topAds {
    display: none;
  }
  
  .slider {
    border-radius: 10px;
    background-color: #ffffff;
  }
  .on-small-screen {
    margin-top: 28%;
  } */
}

@media only screen and (max-width: 980px) {
  .carousel-indicators {
    bottom: 40%;
  }
  .carousel-control-prev {
    display: none;
  }
  .carousel-control-next {
    display: none;
  }
}

/*# sourceMappingURL=account.css.map */
