.headerTop {
  background-color: #1c1c1c;
  color: #fff;
  padding: 5px;
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.headerTop ul {
  list-style-type: none;
}

.headerTop ul li {
  display: inline;
  padding: 10px 20px;
}
.headerTop ul li i {
  padding-right: 5px;
}
.headerTop ul li select {
  padding: 5px;
  background-color: #1c1c1c;
  border: none;
  color: #fff;
  outline: none;
}

.headerTop option {
  color: #ff0000;
  outline: none;
}

.headerTop .rightMenu {
  position: absolute;
  right: 0;
  margin-right: 70px;
  margin-top: 4px;
}

.headerTop .leftMenu {
  margin-left: 100px;
}

.headerCenter {
  background-color: #d3d1d1;
  color: #000000;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.headerCenter .logo {
  grid-column: span 2;
  padding: 20px;
  width: 100%;
  margin: auto;
}

.headerCenter .logo img {
  width: 70%;
  height: 70%;
  margin-left: 60px;
}

.headerCenter .search {
  padding: 50px;
  grid-column: span 7;
  display: flex;
}

.headerCenter .search select {
  padding: 15px;
  border: none;
  outline: none;
}

.headerCenter .search input {
  padding: 15.4px;
  width: 70%;
  margin-left: -5px;
  border: none;
  outline: none;
}

.headerCenter .search button {
  padding: 14px;
  margin-left: -5px;
  border: none;
  outline: none;
  background-color: #0e8502;
  color: #fff;
  width: 50px;
}

.headerCenter .contact {
  grid-column: span 2;
}

.headerCenter .contact {
  color: #ff0000;
}

.headerBottom {
  box-shadow: 2px 2px 5px #0000002c;
  padding: 15px;
}

.headerBottom ul {
  list-style-type: none;
  margin: auto;
}

.headerBottom ul li {
  display: inline;
  padding: 12px 30px;
}
.headerBottom ul li:first-child {
  font-weight: bold;
}

.headerBottom ul li:hover {
  background-color: #a3a3a3;
  color: #fff;
  box-shadow: 0px 5px 20px #00000048;
}
.LinkStyle {
  color: #fff;
  text-decoration: none;
}
.LinkStyle:hover {
  color: #ff0000;
  background-color: #2b2b2b;
  transition: 0.5s;
}
